@import "../../global.scss";

.card {
    background-color: $primary-color;
    border-color: $secondary-color !important;
}

.card-item-container {
    display: grid;
}

.cotizacion-icon {
    font-size: 50px;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    color: $secondary-color;
}

.cotizacion-titulo {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    color: $secondary-color;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
}

.cotizacion-fecha {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    color: $secondary-color;
    font-size: 12px;
}

.cotizacion-venta {
    display: flex;
    justify-content: center;
    color: $background-color;
    text-shadow: 1px 1px 10px $secondary-color;
    font-size: 30px;
    font-weight: 700;
}

.cotizacion-variacion {
    color: $secondary-color;
    
}